html{
    padding: 20px 0px 10px;
    margin: 20px;
    text-align: center;
    background-color:rgb(199, 41, 41);
    color: white;
    
}

ul{
    text-align: center;
}

h1,h2,h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nav{
    font-family: 'Times New Roman', Times, serif;
}

.li{
    color:#000;
}

p:first-child {
    background-color:black;
}

p::first-letter {
    font-size: 150%;
    color: #f8f8f8;
}

h3 ~ blockquote {
    color: yellow;
}

 ul li {
    text-decoration: none;
}

nav:hover {
    background: hsla(201,39%,50%,1);
}

nav:focus {
    background: rgb(78, 224, 21);
}

@media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}

html { font-size: calc(1em + 1vw) }

.header img {
    float: left;
    width: 100px;
    height: 100px;
}
  
.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}
#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

  #lunchpic{
    width: 100%;
}

#dinnervideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}